bind:
  config:
    options:

#      ip-v4-port:
#      ip-v6-port:

      listen-ip-v4:
        - any

      listen-ip-v6:
        - none


  keys:
    core_dhcp:
      algorithm: 'hmac-sha256'
      secret: '7ARSV0BnPMlN3Gdc+axq9/+T29LXpIpIta6jhab5o44='

  zones:
    '.':
      type: forward
      forwarders:
        - 192.158.1.2

    local.kti.com.au:
      type: master
      notify: False
      email: root.{{ salt.grains.item('domain')['domain'] }}

      allow-update:
        - key "core_dhcp"

    1.168.192.in-addr.arpa:
      type: master
      notify: False
