
{## Start with defaults from defaults.yaml ##}
{% import_yaml 'bind/defaults.yaml' as default_settings %}

{##
Setup variables using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}

{% set os_family_map = salt['grains.filter_by'](
    {
        'Debian': {
            'pkgs': ['bind9', 'bind9utils'],

            'service_name': 'bind9',

            'user': 'bind',
            'group': 'bind',

            'template_dir': 'salt://bind/files/debian',

            'config_dir': '/etc/bind',
            'keys_dir': '/etc/bind',
            'service_dir': '/var/cache/bind',

            'dirs': {
                '/etc/bind': {
                    'mode': '755',
                    'files': {
                        'named.conf': {},
                        'named.conf.options': {},
                        'named.conf.local': {},
                    },
                },

                '/var/cache/bind': {
                    'mode': '750',
                },
            },
        },
        'RedHat': {
            'template_dir': 'salt://bind/files/redhat',

            'config_dir': '/etc',
            'keys_dir': '/etc/named',
            'service_dir': '/var/named',
            'dynamic_dir': '/var/named/dynamic',

            'dump_file': '/var/named/data/cache_dump.db',
            'statistics_file': '/var/named/data/named_stats.txt',
            'memstatistics_file': '/var/named/data/named_mem_stats.txt',
            'bindkeys_file': '/etc/named.iscdlv.key',
            'pid_file': '/run/named/named.pid',
            'session_keyfile': '/run/named/session.key',

            'dirs': {
                '/etc': {
                    'user': 'root',
                    'group': 'root',
                    'mode': '755',
                    'files': {
                        'named.conf': {},
                    },
                },
                '/etc/named': {
                    'mode': '750',
                },
                '/var/named': {},
                '/var/named/data': {},
                '/var/named/dynamic': {},
            },
        },
        'Arch': {
            'template_dir': 'salt://bind/files/arch',
            'pkgs': ['bind', 'bind-tools'],

            'pid_file': '/run/named/named.pid',
        },
    },
    grain="os_family",
    merge=salt['pillar.get']('bind:lookup')
) %}


{## Merge os_family_map with default settings ##}
{% do default_settings.bind.update(os_family_map) %}


{## Merge in bind:lookup pillar ##}
{% set map = salt['pillar.get'](
    'bind',
    default=default_settings.bind,
    merge=true
) %}
