
{## Start with defaults from defaults.yaml ##}
{% import_yaml 'bind/defaults.yaml' as default_settings %}

{##
Setup variables using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}

{% set os_family_map = salt['grains.filter_by'](
    {
        'Debian': {
            'pkgs': ['bind9', 'bind9utils'],

            'service': { 'name': 'bind9' },

            'permissions': {
                'user': 'bind',
                'group': 'bind',
                'mode': '644'
            },

            'dirs': {
                'config': '/etc/bind',
                'log': '/var/log/bind9',
                'service': '/var/cache/bind'
            },
        },
        'RedHat': {
            'files': {
                'dump': 'data/cache_dump.db';
                'statistics': 'data/named_stats.txt';
                'memstatistics': 'data/named_mem_stats.txt';
            },
        },
        'Arch': {
            'pkgs': ['bind', 'bind-tools'],
            'files': {
                'pid': '/run/named/named.pid'
            },
        },
    },
    grain="os_family",
    merge=salt['pillar.get']('bind:lookup')
) %}


{## Merge os_family_map with default settings ##}
{% do default_settings.bind.update(os_family_map) %}


{## Merge in bind:lookup pillar ##}
{% set map = salt['pillar.get'](
    'bind',
    default=default_settings.bind,
    merge=True
) %}
